services:
  db:
    image: postgres:15-alpine
    container_name: readcircle-postgres
    restart: always
    environment:
      - POSTGRES_USER=readuser
      - POSTGRES_PASSWORD=readpassword
      - POSTGRES_DB=readcircledb
      - JWT_SECRET=${JWT_SECRET}
      - APP_SECURITY_DB_RESET_ENABLED=false
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: readcircle-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:

